:root{
  --base-color:#fff;
  --light-grey:#ddd;
  --dark-grey:#888;
  --white:#fff;
}

*{
  margin:0;
  padding:0;
}

body {
  background-color:#f5f5f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert, .btn, .dropdown, .form-control{
  border-radius:3px!important;
}

.btn, .btn:active, .btn:focus {
  outline:0;
}

.radio-inline+.radio-inline {
  margin-left: 20px;
}

.alert{
  padding:8px 15px;
}

.page-content{
  background:#fff;
  padding:1em;
}

.container{
  max-width:1200px;
  width:auto;
}

.navbar{
  border-radius:0;
}

.navbar-nav li span{
  color:var(--light-grey);
  display:inline-block;
  padding:15px;
  position:relative;
}

.navbar-nav li span:after {
  border-right:1px solid var(--light-grey);
  content:" ";
  height:16px;
  margin:auto;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
}

/* Login */
.login-box{
  background:var(--white);
  box-shadow:1px 2px 5px rgba(0,0,0,0.3);
  margin:10% auto;
  max-width:400px;
  padding:2em;
}
.login-box h1{
  margin:0 0 1em;
}