version: '3.8'
services:

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    restart: always
    env_file: ./backend/.env
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo-db

  mongo-db:
    image: mongo:5.0.2
    restart: always
    env_file: ./db/.env
    ports:
      - 27017:27017
    volumes:
      - ./db/data:/data/db

  mongo-db-seeder:
    build: 
      context: ./db/seed
    volumes:
      - ./db/data:/data/db
    depends_on:
      - mongo-db
